[package]
name = "lumio-indexer-grpc-data-service"
description = "Lumio Indexer gRPC data service to serve the data from cache and file store."
version = "1.0.0"

# Workspace inherited keys
authors = { workspace = true }
edition = { workspace = true }
homepage = { workspace = true }
license = { workspace = true }
publish = { workspace = true }
repository = { workspace = true }
rust-version = { workspace = true }

[dependencies]
anyhow = { workspace = true }
lumio-indexer-grpc-server-framework = { workspace = true }
lumio-indexer-grpc-utils = { workspace = true }
lumio-metrics-core = { workspace = true }
aptos-moving-average = { workspace = true }
lumio-protos = { workspace = true }
lumio-transaction-filter = { workspace = true }
async-trait = { workspace = true }
clap = { workspace = true }
futures = { workspace = true }
once_cell = { workspace = true }
prost = { workspace = true }
redis = { workspace = true }
rstest = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
tokio = { workspace = true }
tokio-stream = { workspace = true }
tonic = { workspace = true }
tonic-reflection = { workspace = true }
tracing = { workspace = true }
uuid = { workspace = true }

[target.'cfg(unix)'.dependencies]
jemallocator = { workspace = true }
